html, body{
    margin: 0;
}

.nav{
    min-height: 42px;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.nav-list{
    padding-left: 0;
    margin: auto 16px;
}

.nav-item{
    color: white;
    list-style: none;
    margin: 0 16px;
    display: inline-block;
}

.form_container{
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
}
.form_row{
    padding: 8px 0;
    display: flex;
}

.form_label{
    min-width: 100px;
}

.form_input{
    flex: 1;
}

.column-layout{
    background-color: rgba(189, 162, 162, 0.9);
    display: flex;
}
.column-item{
    padding: 0 16px;
    flex: 1;
}

/*order: để thay đổi thứ tự các cột*/
.sidebar-one{
    flex: 1;
    order: 1;
}

.main-column{
    flex: 3;
    order: 3;
}

.sidebar-two{
    flex: 1;
    order: 2;
}

.feature-layout{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media (min-width: 740px) {
    .feature-layout{
        flex-direction: row;
    }
}
.feature-item{
    padding: 12px 16px;
    margin-top: 16px;
    flex-basis: 30%;
}

.feature-item:nth-child(1){
    background-color: deepskyblue;
}

.feature-item:nth-child(2){
    background-color: indianred;
}

.feature-item:nth-child(3){
    background-color: hotpink;
}

.wrap-layout{
    background-color: rgba(189, 162, 162, 0.9);
    margin-top: 36px;
    padding: 12px 0 32px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wrap-layout_item{
    width: 148px;
    height: 90px;
    text-align: center;
    background-color: red;
    line-height: 90px;
    font-size:  48px;
    font-weight: 700;
    margin-top: 20px;
}
.center-layout{
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px; 
    display: flex;
    background-color: aqua;
}
.center-layout_item{
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}
.chart-layout{
    margin: 36px auto 0 auto;
    height: 320px;
    padding: 32px 0;
    display: flex;
    justify-content: space-around;
    /* 
    flex-wrap: wrap-reverse hoặc
    align-item: flex-end
    */
    align-items: flex-end;
}
.chart-layout_item{
    /*align-seft: flex-end*/
    width: 60px;
    color: #fff;
    text-align: center;
    height: var(--percent);
    background-color: red;
    animation: growth ease-in 1s;
}
@keyframes growth{
    from{
        height: calc(var(--percent) - 50%);
        opacity: 0;
    }to{
        height: var(--percent);
        opacity: 100%;
    }
}
.the-end{
    margin: 12px auto 48px auto;
    padding: 32px 0;
    max-width: 720px;
    min-height: 360px;
    display: flex;
    flex-direction: row-reverse;
}
.the-end-first{
    padding: 4px 16px;
    background-color: #fff;
    flex: 1;
}
.the-end-second{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.the-end-second_one{
    flex: 1;
    padding: 4px 16px;
    background-color: lightpink;
}
.the-end-second_two{
    flex: 1;
    padding: 4px 16px;
    background-color: lemonchiffon;
}

/* 
    flex: 1; cú pháp short hand của
    flex-shrink: 1
    flex-grow: 1
    flex-basis: 1

    -------------------

    flex-flow: row wrap; là cú pháp ngắn gọn của
    flex-direction: row
    flex-wrap: wrap
*/